@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic:wght@800&display=swap');
:root{
  --imaga:url("https://img.freepik.com/premium-photo/broken-ice-wall-with-big-hole_241146-98.jpg")
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Black Han Sans', sans-serif;
  font-family: 'Nanum Gothic', sans-serif;
}
/* header //////////////////////////////////////////////////////// */
@media  (min-width: 1023px){
  header{
      display:none;
  }
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-image: var(--imaga);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
}

.header_flex {
  padding: 1rem;
 
}

.header_h1 {
  margin-left: 0.5rem; 
  font-size: 2rem; 
  color: rgb(0, 0, 0); 
  font-weight: 600;
  text-shadow: 6px 2px 2px rgb(255, 255, 255); 
}

.header_button{
  display: inline-flex;
  margin: 0 auto;
}

/* side bar //////////////////////////////////////////////////////// */
@media  (max-width: 1023px){
  .side_nav{
      display:none;
  }
}

.side_nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background-image: var(--imaga);
  background-size: cover;
  padding: 0 1rem;
  z-index: 10;
}
.side_div{
  margin-top: 3rem;
  height: 12rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side_h2{
  font-size: 2.5rem;
  color: white;
  font-weight: 600;
}
.side_btn_position{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn_mg{
  margin: 0 auto;
}
.side_btn{
  display: flex;
  justify-content: center;
}

/* main  //////////////////////////////////////////////////////// */
main{
  margin-top: 6rem;
  max-width: 1024px;
  margin: 0px auto;
  padding: 0px 1rem;
}
@media  (min-width: 1023px){
  main{
      margin-left: 20rem;
  }
}


/*nav*/

section{
  display: flex;
  justify-content: center;
}

.btn{
  width: 80px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
  font-size: 1rem;
  background-color: rgb(222, 222, 222);
  border-radius: 10px;
}

.btn:hover{
  background-color: black;
   color: rgb(255, 255, 255);
   transition: 0.25s;
   opacity: 1;
}

/*select-year*/
#select-year{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.year{
  width: 80px;
  height: 40px;
  margin: 5px;
  background-color: rgb(222, 222, 222);
  border-radius: 10px;
  font-size: 1.2rem;
  text-align: center;
  color: rgb(0, 0, 0);
}

/*chart*/
.chart_title{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: black
}
.chart{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 500px;
}

/*map*/
.map {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 500px;
}

.DashboardContainer{
  width: 50%;
}
